{% extends 'bulma/base.html' %}
{% load bulma_tags %}

{% block content %}

{% if request.user.is_anonymous %}

  <div style="display: flex; align-items: center; gap: 0.3em;">You need to <a href="{% url 'spotify_login' %}" class="button is-primary"><div>login</div></a> before you can continue.</div>
{% else %}
<form action="{% url 'generate_playlist' %}" method="post">
    {% csrf_token %}
  {{ form | bulma }}

  <button class="button is-primary my-button " type="submit"><div>Generate playlist</div></button>
</form>
{% endif %}
{% endblock %}
