{% extends 'bulma/base.html' %}
{% load bulma_tags %}

{% block content %}
<h2 class="title">{{title}}</h2>
<div style="display: flex; justify-content: center; gap: 3rem">
  <div style="flex-grow: 1">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Track</th>
        </tr>
      </thead>
      <tbody>
        {% for track in tracks %}
        <tr>
          <td>{{track.artists.0.name}}</td>
          <td>{{track.name}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    <form action="{% url 'create_playlist' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="tracks" value="{{ tracks_json }}">
      <input type="hidden" name="title" value="{{ title }}">
      <button class="button is-primary my-button " type="submit"><div>Create playlist</div></button>
    </form>
  </div>
</div>
{% endblock %}
